<div class="card-container">
  <p-toast></p-toast>

  <div class="card-header">
    <i class="pi pi-wallet card-icon"></i>
    <div>
      <h2>Crypto Avenue</h2>
      <h3>Deposit FIAT</h3>
    </div>
  </div>
  <form [formGroup]="depositForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Currency</label>
      <div class="custom-dropdown" (click)="toggleDropdown()">
        <span class="selected-value">
          <i class="pi" [ngClass]="selectedCurrency?.icon"></i> {{ selectedCurrency?.name || 'Select a Currency' }}
        </span>
        <ul class="dropdown-list" *ngIf="dropdownOpen">
          <li *ngFor="let currency of currencies" (click)="selectCurrency(currency, $event)">
            <i class="pi" [ngClass]="currency.icon"></i> {{ currency.name }}
          </li>
        </ul>
      </div>
      <div *ngIf="!selectedCurrency" class="p-error">You must select a currency</div>
    </div>
    <div class="form-group">
      <label for="quantity">Amount</label>
      <span class="p-float-label">
        <input pInputText id="quantity" formControlName="quantity" [ngClass]="{'input-error': depositForm.controls['quantity'].invalid && depositForm.controls['quantity'].touched}" />
      </span>
      <div *ngIf="getErrorMessage('quantity')" class="p-error">{{ getErrorMessage('quantity') }}</div>
    </div>
    <button pButton type="submit" class="submit-button">Deposit</button>
  </form>
</div>
