<div class="navbar">
  <div class="logo">Crypto Avenue</div>
  <div class="nav-links left" *ngIf="!isLoggedInVariable">
    <a class="nav-item" routerLink="home">Home</a>
    <a class="nav-item" routerLink="markets">Markets</a>
  </div>
  <div class="nav-links right" *ngIf="!isLoggedInVariable">
    <a class="nav-item" routerLink="login">Login</a>
    <a class="nav-item" routerLink="register">Register</a>
  </div>
  <div class="nav-links left" *ngIf="isLoggedInVariable">
    <a class="nav-item" routerLink="home">Home</a>
    <a class="nav-item" routerLink="markets">Markets</a>
    <a class="nav-item" routerLink="portfolio">Portfolio</a>
    <a class="nav-item" routerLink="deposit">Deposit</a>
    <a class="nav-item" routerLink="withdraw">Withdraw</a>
    <a class="nav-item" routerLink="trade">Trade</a>
    <a class="nav-item" routerLink="transactions">Transactions</a>
    <a class="nav-item" routerLink="chatbot">ChatBot</a>
  </div>
  <div class="nav-links right" *ngIf="isLoggedInVariable">
    <a class="nav-item" (click)="logOut()">Logout</a>
  </div>
</div>
