<div class="login-container">
  <!-- Toast for notifications -->
  <p-toast></p-toast>

  <!-- Login Card -->
  <div class="login-card">
    <div class="login-header">
      <i class="pi pi-bitcoin login-icon"></i>
      <h2>Crypto Avenue</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email/Phone number</label>
        <input pInputText id="email" formControlName="email" [ngClass]="{'p-invalid': invalidEmail}" (input)="onEmailInput()" />
        <div *ngIf="invalidEmail" class="p-error">Invalid Email</div>
      </div>
      <div class="form-group" *ngIf="isEmailCorrect">
        <label for="password">Password</label>
        <input pInputText id="password" type="password" formControlName="password" />
        <div *ngIf="invalidCredentials" class="p-error">Invalid Credentials</div>
      </div>
      <button pButton type="button" label="Next" (click)="validateEmail()" *ngIf="!isEmailCorrect"></button>
      <button pButton type="submit" label="Login" *ngIf="isEmailCorrect"></button>
    </form>
    <button pButton label="Create an Account" (click)="this.router.navigate(['/register'])" class="create-account-button"></button>
  </div>
</div>
