<div class="container">
  <h2>Market Overview</h2>
  <p-table
    [value]="coins"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]"
    sortField="name"
    [tableStyle]="{'min-width': '100%'}"
    [style]="{'background': '#181a20', 'color': '#ffffff'}"
    >

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="width: 20%">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="symbol" style="width: 15%">
          Symbol <p-sortIcon field="symbol"></p-sortIcon>
        </th>
        <th pSortableColumn="currentPrice" style="width: 15%">
          Current Price <p-sortIcon field="currentPrice"></p-sortIcon>
        </th>
        <th pSortableColumn="marketCap" style="width: 15%">
          Market Cap <p-sortIcon field="marketCap"></p-sortIcon>
        </th>
        <th pSortableColumn="marketCapRank" style="width: 15%">
          Market Cap Rank <p-sortIcon field="marketCapRank"></p-sortIcon>
        </th>
        <th pSortableColumn="high24h" style="width: 15%">
          High 24h <p-sortIcon field="high24h"></p-sortIcon>
        </th>
        <th pSortableColumn="low24h" style="width: 15%">
          Low 24h <p-sortIcon field="low24h"></p-sortIcon>
        </th>
        <th pSortableColumn="priceChangePercentage24h" style="width: 15%">
          Price Change % 24h <p-sortIcon field="priceChangePercentage24h"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-coin>
      <tr (click)="onRowSelect(coin.id)">
        <td>
          <img [src]="coin.imageUrl" alt="{{coin.name}}" class="coin-icon">
          {{ coin.name }}
        </td>
        <td>{{ coin.symbol }}</td>
        <td>{{ coin.currentPrice | currency:'USD' }}</td>
        <td>{{ coin.marketCap | currency:'USD':'symbol':'1.0-0' }}</td>
        <td>{{ coin.marketCapRank }}</td>
        <td>{{ coin.high24h | currency:'USD' }}</td>
        <td>{{ coin.low24h | currency:'USD' }}</td>
        <td [ngClass]="{'positive-change': coin.priceChangePercentage24h >= 0, 'negative-change': coin.priceChangePercentage24h < 0}">
          {{ coin.priceChangePercentage24h | percent:'1.2-2' }}
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
